# General variables
NODE_ENV=development
NODE_PORT=3010

# Frontend authentication variables
JWT_SECRET=Ab@d53cr37

#OpenSRP related variables
OPENSRP_IP=localhost
OPENSRP_PORT=8082

# Data access credentials
DASHBOARD_USERNAME1="agreatname"
DASHBOARD_PASSWORD1="Agr3@tNam3"
DASHBOARD_USERNAME2="anothergreat"
DASHBOARD_PASSWORD2="An07herGr3@t"

# Database access variables
OPENSRP_USERNAME="postgres"
OPENSRP_PASSWORD="PutYourPassHere"
OPENSRP_HOST="localhost"
OPENSRP_SCHEMA="tepi_export"
OPENSRP_DATABASE="opensrp"
OPENSRP_PORT="5432"

# DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"
# DATABASE_URL="postgresql://${OPENSRP_USERNAME}:${OPENSRP_PASSWORD}@${OPENSRP_HOST}:${OPENSRP_PORT}/${OPENSRP_DATABASE}?schema=${OPENSRP_SCHEMA}"
DATABASE_URL="postgresql://${OPENSRP_USERNAME}:${OPENSRP_PASSWORD}@${OPENSRP_HOST}:${OPENSRP_PORT}/${OPENSRP_DATABASE}"

# Lift-Up Dev User Variables (base64 encoded)
LIFTUP_USERNAME="dGVwaWZhZA==" # changed to tepifad base64 from dGVwaWZhYw== to make TEPI Dev defunct
LIFTUP_PASSWORD="QWZ5YTEyMzQ="