# Folders
public/contacts_uploads/*
public/index_uploads/*
node_modules
logs
.vscode

# Files
*.local
*.rest
.vscode/*
!.vscode/extensions.json
.idea
.env
update.sh
update-prod.sh
update-test.sh
git-actions.txt
package-lock.json
